* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: 0;
  font-family: sans-serif;
}

:focus {
  outline: 0;
}

main {
  height: calc(100vh - 60px);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .right img{
  width: 16px;
  height: 16px;
}

nav .right > a:last-child img{
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

nav .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav .right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .left a {
  padding: 15px;
  color: #70757a;
  font-size: 14px;
}

nav .right a {
  padding-right: 15px;
  color: #70757a;
  font-size: 14px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 70px auto;
}

.search-text {
  position: relative;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin-top: 20px;
}

.search-text input {
  width: 480px;
  height: 44px;
  border-radius: 44px;
  padding: 0 50px 0 50px;
  font-size: 16px;
}

.search-text label {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #9aa0a6;
}

.search-text img {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.buttons button {
  background-color: #f8f9fa;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  height: 36px;
  padding: 8px 16px;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
  border: 1px solid #dadce0;
  color: #202124;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  color: #70757a;
  height: 60px;
}

footer .alt-sol {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer .alt-sol li {
  margin-right: 15px;
}

footer .alt-sag {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .alt-sag li {
  margin-left: 15px;
}